.gestionar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}

.gestionar-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botones-gestionar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.botones-gestionar>div {
  width: 30%;
}

#imagen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imagen-container>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#cabaña-imagen-container {
  display: flex;
  width: 50%;
}

.cabaña-imagen{
  width: 100%;
  display: block; 
}

#calendario-estados-container{
  display: flex;
  flex-direction: row;
}

#calendario-container{
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2%;
  width: 50%;
}

#estados-container{
  
  margin: 2%;
  width: 50%;
}

.react-datepicker__day--keyboard-selected{
  background-color: transparent;
  }
    

  .react-datepicker__day--in-range{
    background-color: #9A3B3B;
  }