.gestionar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}

.gestionar-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botones-gestionar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.botones-gestionar>div {
  width: 30%;
}

#imagen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imagen-container>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#caba침a-imagen-container {
  display: flex;
}

.caba침a-imagen{
  max-width: 600px; /* Ajusta el ancho m치ximo de la imagen */
  max-height: 600px; 
}
.carousel{

}

#calendario-estados-container{
  display: flex;
  flex-direction: row;
}

#calendario-container{
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2%;
  width: 55%;
}

#estados-container{
  
  margin: 2%;
  width: 50%;
}

.react-datepicker__day--keyboard-selected{
  background-color: transparent;
  }
    

  .react-datepicker__day--in-range{
    background-color: #9A3B3B;
  }
  .titulo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1rem;
  }

  .titulo>div{
    padding: 10px;
  }

  .carousel-image-smaller {
/* Ajusta el alto m치ximo de la imagen */
  }