.perfil1{
    align-items: center;
    justify-content: center;
}

.Titulo1{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.Campos{
 align-items: center;
 background-color: #9A3B3B;
 max-width: 500px;
 height: 45vh;
 width: 80vw;
 border-radius: 10px;
 padding: auto;
 margin:auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.ContenedorBotones{
 display: flex;
 justify-content: space-between;
 width: 60%;
}