.ccontraseña-container{
    background-image: url('../../assets/loginBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ccontraseña{
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 50vh;
    padding: 1rem;
}

.Titulo1{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.Campos{
 align-items: center;
 height: 45vh;
 border-radius: 10px;
 padding: auto;
 margin:auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.ContenedorBotones{
 display: flex;
 justify-content: space-between;
 width: 60%;
}