.perfil1-container{
    background-image: url('../../assets/loginBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil1{
    width: 40vw;
    height: 86vh;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.Titulo2{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    padding-top: 0.5rem;
}

.Datos1{
 align-items: center;

 padding: auto;
 margin:auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.interior1.div{
    font-weight: 300;
    display: flex;
}


.contra{
    color: black;
    margin-top: 10px;
    display: block;
    text-align: center;

}

.botones1a{
    justify-content: space-between;
    display: flex;
}