.perfil{
    align-items: center;
    justify-content: center;
}

.Titulo{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.Datos{
 align-items: center;
 background-color: white;
 height: 60vh;
 width: 40vw;
 border-radius: 10px;
 padding: auto;
 margin:auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.interior{
    text-align: left;
    display: inline;
}

.interior.div{
    font-weight: 300;
    display: flex;
}

.datoPersona{
    display: flex;
    margin: 5px;
}

.botones{
    justify-content: space-between;
    display: flex;
}

.dato{
    color: black;
    margin-left: 10px;
}

.b1{
    margin-top: 25px;
    background-color: #ce8c61;
    justify-content: space-between;
    width: 48%;
}
