.perfil-container{
    background-image: url('../../assets/loginBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil{
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.Titulo{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    padding-top: 1rem;
}

.Datos{
 align-items: center;
 height: 40vh;
 width: 40vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.interior{
    text-align: left;
}

.interior.div{
    font-weight: 300;
    display: flex;
}

.datoPersona{
    display: flex;
    margin: 5px;
}

.botones{
    justify-content: space-between;
    display: flex;
}

.dato{
    color: black;
    margin-left: 10px;
}

.b2{
    margin-top: 25px;
    background-color: #9A3B3B;
    justify-content: space-around;
    width: 40%;
}
