.navbar {
    position: fixed;
    width: 100%;
    z-index: 4;
}


button {
    background-color: #9A3B3B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #C08261;
}
.wrapper{
    padding-top: 8vh;
}
