.casillaRol {
    justify-content: space-between;
    text-align: center;
    display: flex;
    align-items: center;

    height: 100%;
}


.selector-rol{
    height: 3rem;
}
.tick{
    height: 3rem;
    width: 3rem;
    border-radius: 0;
}
.admin-usuario {
    overflow-x: auto;
}
  
.numPagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 1rem; 
}
  
.numPagina button {
    margin-bottom: 0.5rem; 
}
