.casillaRol {
    justify-content: space-between;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
}

.tick{
    background-color: white;
}
.admin-usuario {
    overflow-x: auto;
}
  
.numPagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 1rem; 
}
  
.numPagina button {
    margin-bottom: 0.5rem; 
}

.tick {
    min-width: 10%;
}
