.home {
    background-image: url('../../assets/homeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 92vh;
    padding-top: -8vh;
    
}